@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Syne:wght@700;800&display=swap');

* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: darkslategray;
    background-color: blanchedalmond;
}

h1, h2, h3 {
    font-family: "Syne", sans-serif;
    color: rgb(4, 8, 18);

}

p {
    margin-bottom: 15px;
}

footer {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    gap: 10px;            
    background-color: #650000;
    color: white;
    padding: 30px;
}

#topo-site{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #be5757;
    text-align: center;
    color: white;
}

#home{
background-color: lightcyan;
}

#conteudo-principal {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}
#titulo-principal {
    margin-top: 40px;
    font-size: 2.5rem;
    color: rgb(252, 250, 230)
}

#titulo-secundario {
    font-size: 1.5rem;
}

#table {
    width: 50%;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#table thead {
    background-color: rgb(255, 238, 111);
}

#table th {
    padding: 12px 15px;
}

#table td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

#table tfoot td {
    padding: 10px;
    font-style: italic;
    font-size: 0.85rem;
    color: #666;
    text-align: center;
    background-color: #eee;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;

}

.imagem {
    display: flex;
    flex-direction: row;
}

